.navbar {
    background-color: navy;
    color: mintcream;
    padding: 10px;
    display: flex;
    justify-content : space-between;
}
.search-bar {
    margin: 10px;

}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
.card-grid {
    display: flex;
    gap: 10px;
}